.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    // width: calc(100% );
    padding: 10px;
    background-color: #fff;
    border-bottom: 1px solid #d5d5d5;
    z-index: 999;


    .nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &__left,
        &__right {
            display: flex;
            flex-direction: row;
        }

        &__left {
            gap: 30px;
            align-items: center;
        }

        &__left-profile {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 20px;

            &__img {
                width: 55px;
                height: 55px;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid transparent;
                border-radius: 50%;
                background-color: #4880ff;
                color: #fff;
                font-size: 24px;
                font-weight: 600;
            }

            &__title {
                h1 {
                    font-size: 22px;
                    margin-right: 30px;
                }

                p {
                    color: gray;
                }
            }
        }

        &__burger {
            border: none;
            background-color: transparent;
            font-size: 26px;
        }

        &__right {
            gap: 30px;

            button {
                border: none;
                background-color: transparent;
                font-size: 24px;
                color: #4880ff;
            }
        }

        &__right-user {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 20px;

            &__img {
                padding: 5px;
                background-color: #F5F6FA;
                border: 1px solid transparent;
                border-radius: 50%;

                img {
                    width: 100%;
                    object-fit: cover;
                }
            }
        }

    }
}