.table {
    width: 95%;
    margin: auto;
    border-collapse: collapse;
    color: black;
    border: 1px solid #d5d5d5;
    border-radius: 10px;
    overflow: hidden;
    font-weight: 400 !important;

    // background-color: ;
    p {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 6px;
        border: 1px solid transparent;
        border-radius: 5px;
    }
}

.table tr {
    border-bottom: 1px solid #d5d5d5;
}

.table thead {
    background-color: #FCFDFD;
}

.table tbody {
    background-color: #fff;
}

.table th,
.table td {
    padding: 14px 20px;
    text-align: left;
}

.td {
    position: relative;

    button {
        width: 35px;
        height: 35px;
        font-size: 20px;
        border: 1px solid transparent;
        background-color: transparent;
    }

    &__modal {
        display: none;
        position: absolute;
        top: -50px;
        left: -29px;
        right: 0;
        // z-index: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        border: 1px solid #d5d5d5;
        border-radius: 5px;
        box-shadow: 1px 1px 5px 5px #d5d5d5;

        a {
            display: flex;
            align-items: center;
            // justify-content: center;
            font-size: 14px;
            // background-color: red;
            height: 50%;
            padding-left: 20px;
        }

        button {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            // justify-content: center;
            padding-left: 20px;
            gap: 5px;
            border: 1px solid transparent;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            background-color: #fff;
            height: 30px;
            font-size: 14px;
            border-bottom: 1px solid #d5d5d5;

            span {
                color: #d5d5d5;
                font-size: 16px;
            }
        }

        button:hover {
            background-color: rgba(213, 213, 213, .3);
        }

        a:hover {
            background-color: rgba(213, 213, 213, .3);
        }
    }

    &__show {
        display: block;
        flex-direction: column;

    }
}

.pin {
    color: #d5d5d5;
    font-size: 16px;
}




// .table th:last-child {
//     border-radius: 0 14px 0 0;
// }