.admin {
    display: flex;
    flex-direction: column;

    &__content {
        margin-left: 300px;
        transition: .1s;
    }

    &__move {
        margin-left: 80px;
        transition: .3s;
    }
}