.admin {
    display: flex;
    flex-direction: column;

    &__content {
        margin-left: 300px;
        // display: flex;
        // flex: 1;
        // flex-direction: row;
    }

    &__move {
        margin-left: 80px;
    }
}